<ul>
  <li>id: <%= @user.id %></li>
  <li>name: <%= @user.name %></li>
  <li>e-mail: <%= @user.email %></li>
  <li>created_at: <%= @user.created_at %></li>
  <li>updated_at: <%= @user.updated_at %></li>
</ul>


